<!DOCTYPE HTML> 
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <div class="container">
  {{#if error}}
    <p class="alert alert-warning">{{error}}</p>
  {{/if}}

  {{#if success}}
     <p class="alert alert-success">{{success}}</p>
  {{/if}}

  {{#if notice}}
    <p class="alert alert-info">{{notice}}</p>
  {{/if}}
  <div class="row">
    {{!--
      {{log this}}
    --}}
    <div class="col-sm-12">
      {{{ body }}}
    </div>
  </div>
  </div>
  {{>footer}}
</body>
</html>