<!DOCTYPE HTML> 
<html lang="en">
{{>head}}
<body>

  {{!-- ** HEADER ** --}}
  
  {{>header}}
  
  {{!-- ** CONTENT **  --}}
  
  <div class="container">
  <div class="row">
  
  {{!-- ** FLASH MESSAGES ** --}}

  {{#if error}}
    <div class="alert alert-danger fade in out">
      <a href="#" class="close" data-dismiss="alert">&#x2717;</a>
      <strong>{{wrapText error}}</strong>
    </div>
  {{/if}}
  {{#if notice}}
    <div class="alert alert-info fade in out">
      <a href="#" class="close" data-dismiss="alert">&#x2717;</a>
      <strong>{{wrapText notice}}</strong>
    </div>
  {{/if}}
  {{#if success}}
    <div class="alert alert-success fade in out">
      <a href="#" class="close" data-dismiss="alert">&#x2717;</a>
      <strong>{{wrapText success}}</strong> 
    </div>
  {{/if}}
    {{!--
      {{log this}}
    --}}
    <div class="col-sm-12">
      {{{ body }}}
    </div>
  </div>
  </div>
  
  {{!-- ** FOOTER ** --}}
  
  {{>footer}}
</body>
</html>